html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /* Theme colod*/
    --text-gray: #3f4954;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

/*---NavBar--*/
.nav {
    background: white;
    padding: 0 2rem;
    height: 0px;
    min-height: 40rem;
    overflow: hidden;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1rem;
    position: relative;
}

.nav .nav-items .nav-link:hover a {
    color: black;
}

.nav .nav-brand a {
    font-size: 1.6rem 1rem;
    padding: 1rem 0;
    display: block;

}

.nav .social {
    padding: 1.4rem 0;
}

/* Viewport less */
@media only screen and(max-width:750px) {
    .nav .nav-menu {
        flex-direction: column;
    }
}